.mobile-header
  h3.mobile-logo siq liquid
  .btn-container
    #hamburger
      .line
      .line
      .line


.mobile-nav
  ul.nav
    li.item
      a(href="index.html") home
    li.item
      a(href="aboutus.html") about us
    li.item
      a(href="wholesale.html") wholesale
    li.item
      a(href="howtobuy.html") how to buy
    li.item
      a(href="contact.html") contact




.header
  a.logo-container(href="index.html")
    .logo
      h1 siq liquid
  .nav-container
    .nav
      li.item
        a(href="aboutus.html") about us
      li.item
        a(href="wholesale.html") wholesale
      li.item
        a(href="howtobuy.html") how to buy
      li.item
        a(href="contact.html") contact
