section.wholesale
  .flex.flex-center
    .col-1
      .pic1

    .col-1
      .wholesale-desc
        p Thank you for your interest in Siq Liquid. We look foward to speaking with you more about our amazing wholesale opportunities and how we can meet your needs.
        br
        p Please use the email form in the contact section to reach out to us. We will respond quickly.
